//colors text etc

$mainYellowColor: #f3ff79;
$secondYellowColor: #7a803f;

$mainBackgroundColor: #323138;

$secondTextColor: #333438;

$firthGradientColor: #f1fe79;
$secondGradientColor: #f3ff79;

$white: #ffffff;
